html, body
{
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}
.navbar
{
background-color:  #A3D5F8;
padding: 1% 0;
font-size: 1.2em;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.active
{
	color: #FFF;
}

#home
{
	background: url(img/road.mp4) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
	height: 720px;
	width: : 1360px;
	min-width: 100%;

}
.overlay {

display: table-cell;
	text-align: center;
	vertical-align: middle;
    position:absolute;
    top:52%;
    left:65%;
    z-index:1;

}
.landing-text
{
	display: table-cell;
	text-align: center;
	vertical-align: middle;

}
.landing-text h1
{
	font-size: 500%;
	font-weight: 700;
	color: #D5D5D5;

}
.landing-text h3
{
	color: #D5D5D5;
}

#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  max-width: 100%;

}


.padding
{
	padding: 80px 0;
box-sizing: border-box;
}
.padding img
{
width: 100%;
}
#fixed
{
	background: url(img/plants.jpg) no-repeat center center fixed;
	display: table;
	height: 350px;
	position: relative;
	width: 100%;
	background-size: cover;
}
footer
{
	width:100%;
	background-color: #A3D5F8;	
	color: #FFF;	
	 box-sizing: border-box;
}
.fa
{
	padding: 15px;
	font-size: 25px;
	color: #FFF;

	
}
.fa:hover
{
	color: #D5D5D5;
	text-decoration: none;
}
.icon
{
	max-width: 200px;
}

@media screen and (max-width: 480px){
	#home {
		padding: 2rem 0; 
	    display: block;
	    height: auto;
	    position: relative;
	}
	.overlay {
	    display: block;
	    text-align: center;
	    vertical-align: middle;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    z-index: 10;
	}
	.landing-text h1 {
	    font-size: 2rem;
	    font-weight: 700;
	}
	.landing-text h3 {
	    font-size: 1.5rem;
	}
	.landing-text h1,
	.landing-text h3{
		color: #eee;
	}
	.btn-group-lg>.btn, .btn-lg{
		padding: .5rem;
		font-size: 1.25rem;
	}
}